<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
</head>
<body>
<div class="total">
    <div class="menus">
		<video id="v1" autoplay loop muted>
			  <source src="{% static 'getCardPassword/start.mp4' %}" type="video/mp4" class="video"/>
		</video>
		<ul>
			<li><a href="/getCardPassword">转化</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">About</a></li>
		</ul>
    </div>

    <div class="webgis_list">
        <div class="webgis_title_border">
            <div class="webgis_title">
                 <span>GIS功能</span>
            </div>
        </div>
        <div class="funciton_list">
            <a href="/getCardPassword/" class="function_detail">
                <span class="text_tag">
                    <font style="vertical-align: inherit;" >等值图</font>
                </span>
            </a>
            <a href="/dotDensity/" class="function_detail">
                <span class="text_tag">
                    <font style="vertical-align: inherit;" >点密度图</font>
                </span>
            </a>
            <a href="/showLidar/" class="function_detail">
                <span class="text_tag">
                    <font style="vertical-align: inherit;" >LIDAR可视化</font>
                </span>
            </a>
        </div>
    </div>
</div>
</body>
</html>