<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球累计确诊</title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'COVID/style.css' %}">
</head>
<body>
 <div id="bar" width="300px" height="300px">
            <a href="world_TC/" class="function_detail">
                <span class="text_tag">
                    <font style="vertical-align: inherit;" >每日累计确诊</font>
                </span>
            </a>
                 <a href="world_NC/" class="function_detail">
                <span class="text_tag">
                    <font style="vertical-align: inherit;" >每日新增确诊</font>
                </span>
            </a>
                 <a href="world_ND/" class="function_detail">
                <span class="text_tag">
                    <font style="vertical-align: inherit;" >每日累计死亡</font>
                </span>
            </a>
           <a href="world_ND" class="function_detail">
                <span class="text_tag/">
                    <font style="vertical-align: inherit;" >每日新增死亡</font>
                </span>
           </a>
 </div>

</body>
</html>