<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>转化</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'getCardPassword/style.css' %}">
</head>
<body>
    <div class="div1" >
        <span class="text_tag">
        <font style="vertical-align: inherit;" >文本</font>
        </span>
        <input  type="text" name="cardText" class="frame" placeholder="输出图像的高" />
    </div>
    <input type="submit" id="filebtn" name="filebtn" value="上传文件"/>
    <div class="div1" >
        <span class="text_tag">
            <font style="vertical-align: inherit;" >密码</font>
        </span>
		 <input  type="text" name="password" class="frame" placeholder="输出图像的高" />
    </div>

    <script>
        $(document).ready(function(){
            $("#filebtn").click(function () {

                //创建对象
                var formdata = new FormData();
                //这里FormData是一个jquery对象，用来绑定values对象，也可以用来上传二进制文件，有了他就可以不用form表单来上传文件了

                var cardText = $('[name=cardText]').val();
                
                formdata.append('cardText',cardText);
				

                $.ajax({
                    url: '',
                    type: 'post',
                    data: formdata,
                    //这两个要必须写
                    processData:false,
                    contentType:false,
                    success: function (data) {
						$('[name=password]').val(data)
                        // $("#field1").html(str);    //输出
                    }
                })
            })
        })
    </script>
</body>
</html>