<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>转化</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'getCardPassword/style.css' %}">
</head>
<body>
	<video id="v1" autoplay loop muted>
		  <source src="{% static 'getCardPassword/start.mp4' %}" type="video/mp4" class="video"/>
	</video>
    <div class="div" >
        <span class="text-tag">
        <font style="vertical-align: inherit;" >文本</font>
        </span>
        <input  type="text" name="cardText" class="text-content" placeholder="文本内容" />
		<button type="submit" class="submit-button" id="fileBtn" name="filebtn">上传文件</button>
    </div>
    <div class="div" >
        <span class="text-tag">
            <font style="vertical-align: inherit;" >密码</font>
        </span>
		 <input  type="text" id="text-content" class="text-content" placeholder="内容" />
		 <button type="submit" class="submit-button" id="copyBtn" name="filebtn">复制</button>
    </div>

    <script>
		var video= document.getElementById('v1');
		video.playbackRate = 1;
        $(document).ready(function(){
            $("#fileBtn").click(function () {

                //创建对象
                var formdata = new FormData();
                //这里FormData是一个jquery对象，用来绑定values对象，也可以用来上传二进制文件，有了他就可以不用form表单来上传文件了

                var cardText = $('[name=cardText]').val();
                
                formdata.append('cardText',cardText);
				

                $.ajax({
                    url: '',
                    type: 'post',
                    data: formdata,
                    //这两个要必须写
                    processData:false,
                    contentType:false,
                    success: function (data) {
						$('#text-content').val(data)
                        // $("#field1").html(str);    //输出
                    }
                })
            })
        })
		$("#copyBtn").click(function() {
			var e = document.getElementById("text-content");
			e.select(); // 选择对象
			document.execCommand("Copy"); // 执行浏览器复制命令
		})
    </script>

</body>
</html>