*{
      -webkit-user-select: auto;
}
.div{
           width:50%;
           height:50px;
           margin-top:10px;
           margin-left:5px;
           margin-right:5px;
           overflow: hidden；
           position: relative;
           float:left;
		   background-color: #5897FB;
}
	.text-tag{
			   width:10%;
			   font-family : "楷体";
			   font-size: auto;
			   line-height: 20px;
			   text-align: center;
			   text-decoration: none
			   position: relative;
			   float:left;
	}
	.text-content{
			   width:70%;
			   height:20px;

	}
	.submit-button{
		font-size: 10px;
		width:10%;
		height:20px;
	}
.select-color {
}
.select-color .select-color-aaa {
	display:inline-block;width:256px;height:256px;background-color:#ff0000;
}
.select-color .select-color-aa {
	width:256px;height:256px;background-image:linear-gradient(to right,#fff,rgba(255,255,255,0));
}
.select-color .select-color-a {
	width:256px;height:256px;background-image:linear-gradient(to top,#000,rgba(255,255,255,0));
}
.select-color .select-color-a-pos {
	width:1px;height:1px;
	border: 1px solid red;
	background-color: #fff;
	position: relative;
}
.select-color .select-color-b-group {
	display:inline-block;width:220px;height:256px;
}
.select-color .select-color-b {
	display:inline-block;width:32px;height:256px;
}
.select-color .select-color-ccc {
	display:inline-block;width:128px;height:32px;
}
.select-color .select-color-cc {
	display:inline-block;width:128px;min-height:40px;
	border:1px solid black;
}