*{
      -webkit-user-select: auto;
}
.div{
           width:50%;
           height:50px;
           margin-top:10px;
           margin-left:5px;
           margin-right:5px;
           overflow: hidden；
           position: relative;
           float:left;
}
	.text-tag{
			   width:10%;
			   font-family : "楷体";
			   font-size: auto;
			   line-height: 20px;
			   text-align: center;
			   text-decoration: none
			   position: relative;
			   float:left;
	}
	.text-content{
			   width:70%;
			   height:20px;

	}
	.submit-button{
		font-size: 10px;
		width:10%;
		height:20px;
	}
video{  
	position: fixed;  
	right: 0px;  
	bottom: 0px;   
	height: calc(100%);
	width: calc(100%);  
	object-fit:fill;
	/*加滤镜*/
	/*filter: blur(15px); //背景模糊设置 */
	/*-webkit-filter: grayscale(100%);*/  
	/*filter:grayscale(100%); //背景灰度设置*/  
	z-index:-11
}  
source{  
	height: calc(100%); 
	width: calc(100%);  
} 