ul{
	position: absolute;
	font-size:14px;
	width: 100%;
	left: 0px;
}
li{
	float:left;/*改动的地方*/
	width:20%;
	height: 30px;
	background-color:#ff9137;
	display: flex;
	align-items: center;
	justify-content: center;
}
a:link,a:visited,a:active{
	color:#fff;
	text-decoration:none;
}
li:hover{
	background-color: #FFFFFF;
	color: #b3b3b3;
}
a:hover{
	color:#b3b3b3;
}
a{
	display:block;/*整体变为可点击区域，而不只是字*/
}
        .total{
                   width:calc(99vw)
               }
        .menus{
           width:calc(99vw);
           height:500px;
           position: relative;
           }
        .webgis_list{
              width:calc(99vw)
               }
        .webgis_title_border{
           width:calc(99vw);
           height:100px;

        }
        .webgis_title{
           margin-top:20px;
           width:calc(99vw);
           height:100px;
           top:20px;

           font-family : "微软雅黑";
           font-size: 32px;
           text-indent:30px;
           line-height: 100px;
           color:rgb(255, 255, 255);

           background: linear-gradient(to right,rgb(0,125,101),rgb(29,149,63));

        }
        .funciton_list {
                   width:calc(100vw)
                   }

        .function_detail{
           display:block;
           width:33%;
           height:300px;
           z-indent:-1;
           overflow: hidden；
           position: relative;
           float:left;


           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
           background-blend-mode: multiply;

           transition:all 0.5s ease-in 0s;


           line-height: 300px;
           text-align: center;
           color: #ffffff;
           text-decoration: none
           }
        .function_detail:nth-of-type(1){
           background-color: rgba(171, 60, 22, 0.85);
           background-image: url("images/isogram.jpg");
           background-size: 100% 100%
        }
        .function_detail:nth-of-type(2){
           background-color: rgba(0, 94, 149, 0.85);
           background-image: url("images/dot_density.jpg");
           background-size: 100% 100%
        }
        .function_detail:nth-of-type(3){
           background-color: rgba(51, 128, 51, 0.85);
           background-image: url("images/shape_relief.jpg");
           background-size: 100% 100%
        }
        .function_detail:nth-of-type(4){
           background-color: rgba(255,222,173, 0.85);
           background-image: url("images/contours.jpg");
           background-size: 100% 100%
        }
        .function_detail:nth-of-type(5){
           background-color: rgba(139,0,139, 0.85);
           background-image: url("images/showLidar.jpg");
           background-size: 100% 100%
        }
        .function_detail:nth-of-type(6){
           background-color: rgba(51, 128, 51, 0.85);
           background-image: url("images/shape_relief.jpg");
           background-size: 100% 100%
        }
        .function_detail:hover{
           background-color: rgba(169,169,169, 0.85);
           background-size:110% 110%;
        }
        span.text_tag{
           font-family : "微软雅黑";
           font-size: 25px;
        }
		
video{  
	position: absolute;  
	right: 0px;  
	bottom: 0px;   
	height: calc(100%);
	width: calc(100%);  
	object-fit:fill;
	/*加滤镜*/
	/*filter: blur(15px); //背景模糊设置 */
	/*-webkit-filter: grayscale(100%);*/  
	/*filter:grayscale(100%); //背景灰度设置*/  
	z-index:-11
}  
source{  
	height: calc(100%); 
	width: calc(100%);  
} 
