<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form enctype="multipart/form-data" method="POST" action="Result/">
   <input type="file" name="file" />
    <input type="text" name="width" placeholder="输出图像的宽" />
    <input type="text" name="height" placeholder="输出图像的高" />
    <input type="text" name="first_field" placeholder="输入需要使用的字段" />
    <input type="text" name="second_field" placeholder="输入需要使用的字段" />
   <br />
   <input type="submit" value="上传文件" />
</form>
</body>
</html>