        a{
           display:block;
           width:50%;
           height:300px;
           z-indent:-1;
           overflow: hidden；
           position: relative;
           float:left;


           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
           background-blend-mode: multiply;

           transition:all 0.5s ease-in 0s;


           line-height: 300px;
           text-align: center;
           color: #ffffff;
           text-decoration: none
           }
        a:nth-of-type(1){
           background-color: rgba(218,165,32, 0.85);
           background-size: 100% 100%
        }
        a:nth-of-type(2){
           background-color: rgba(171, 60, 22, 0.85);
           background-size: 100% 100%
        }
        a:nth-of-type(3){
           background-color: rgba(0, 94, 149, 0.85);
           background-size: 100% 100%
        }
        a:nth-of-type(4){
           background-color: rgba(51, 128, 51, 0.85);
           background-size: 100% 100%
        }
        a:hover{
           background-color: rgba(169,169,169, 0.85);
           background-size:110% 110%;
        }
        span{
           font-family : "微软雅黑";
           font-size: 25px;
        }